<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <h1>Welcome to Registration</h1>

  <div class="jumbotron">
    <h1>Fill out the form:</h1>
    <form class="" action="{% url 'user_login'%}" method="post" >
      {% csrf_token %}
      <label for="aps">APs</label>
      <input type="text" id="ap" name="ap" value="3,7,15,60,90">
      <label for="los">LOS</label>
      <input type="text" id="los" name="los" value="7,15">
      <input type="button" name="" value="Generate">
      <textarea name="name" rows="8" cols="80"></textarea>
    </form>
  </div>

  <script type="text/javascript">
    var dateFormat = "dd-mm-yyyy";
    var today_date = new Date();  ;

    var ap_list = $('#ap').val().replace(" ","").split(",") ;
    var los_list = $('#los').val().replace(" ","").split(",") ;

    $.each(ap_list,function(id,ap){
      $.each(los_list,function(id2,los){
        console.log(ap,los) ;
      }) ;
    }) ;



  </script>
{% endblock %}
